@import url('https://fonts.googleapis.com/css?family=Cantarell:400i|Ubuntu');
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  color: #222;
  background: #EEE;
}
* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-thumb {
  background: #F2AE72;
}
*::-webkit-scrollbar-track {
  background: none;
}
.postresult {
  display: none;
}
select,
input {
  -webkit-app-region: no-drag;
  font-family: 'Cantarell', sans-serif;
  border: none;
  background: none;
  border-bottom: solid 2px #CCC;
  color: inherit;
}
select:disabled,
input:disabled {
  color: inherit;
}
select:focus,
input:focus {
  outline: none;
  color: inherit;
  border-bottom-color: #F2AE72;
}
button {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
button.n1 {
  color: #FFF;
  background: #F2AE72;
  border: solid 1px #F2AE72;
  box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.07);
}
button.n2 {
  color: #FFF;
  background: #F2E394;
  border: solid 1px #F2E394;
  box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.07);
}
#mainbar {
  color: #DDD;
  background: #222;
  box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  z-index: 1000;
  font-size: 14px;
}
#mainbar button {
  -webkit-user-select: none;
  width: 100%;
  min-height: 75px;
  padding: 10px 0;
  background: none;
  border: none;
  color: #FFF;
  font-weight: bold;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
}
#mainbar button:focus {
  outline: none;
}
#mainbar #stats {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#mainbar #stats .stat {
  text-align: center;
  padding: 10px 0;
}
#mainbar #stats .stat .title {
  font-weight: bold;
}
#mainbar #stats .stat .value {
  font-size: 32px;
}
#config {
  color: #222;
  background: #EEE;
  border: solid 1px #CCC;
  box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.07);
  padding: 10px 20px;
}
#config > .options {
  width: 100%;
  display: table;
}
#config label {
  display: table-row;
  height: 50px;
  width: 100%;
  line-height: 50px;
}
#config label > * {
  display: table-cell;
  font-weight: bold;
}
#config label input,
#config label select {
  float: right;
  font-weight: bold;
}
#config label select > option {
  font-weight: bold;
}
#config label input[type="number"] {
  text-align: right;
  width: 100px;
}
#config label input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#config label input[type="checkbox"] {
  position: relative;
}
#config label input[type="checkbox"]:before {
  content: ' ';
  position: absolute;
  height: 15px;
  line-height: 5px;
  font-size: 24px;
  width: 15px;
  right: 0px;
  display: block;
  background: #FFF;
  border: solid 2px #DDD;
  text-align: center;
}
#config label input[type="checkbox"]:checked:before {
  border-color: #F2AE72;
  content: '✔';
}
#config button.minimize {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  padding: 0;
  color: #AAA;
}
#config button.minimize:focus {
  outline: none;
}
#config button.minimize span {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 50px;
}
#config button.minimize:hover {
  color: #F2AE72;
}
#viewport {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100px;
  right: 0;
  z-index: 100;
}
#viewport .halfpane,
#viewport .fullpane {
  color: #222;
  background: #EEE;
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateX(-110%);
  height: 100%;
  box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.4);
}
#viewport .halfpane.active,
#viewport .fullpane.active {
  transform: translateX(0px);
}
#viewport .halfpane.active .content-head,
#viewport .fullpane.active .content-head {
  opacity: 1;
}
#viewport .fullpane {
  transition: transform 700ms ease-out;
  width: 100%;
}
#viewport .fullpane.active {
  z-index: 150;
}
#viewport .halfpane {
  transition: transform 350ms ease-out;
  width: 50%;
  z-index: 200;
}
#viewport .halfpane.active {
  z-index: 250;
}
#viewport .content-head {
  -webkit-app-region: drag;
  position: absolute;
  top: 0px;
  height: 50px;
  left: 0;
  right: 190px;
  opacity: 0;
  transition: opacity 300ms ease-in 1s;
}
#viewport .content-head button,
#viewport .content-head select,
#viewport .content-head input {
  -webkit-app-region: no-drag;
}
#viewport .content-body {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
#viewport .content-body .wrapper {
  padding: 10px;
}
#browser #webview {
  height: 100%;
  width: 100%;
  position: absolute;
}
#browser #webview-error {
  background: #D96459;
  width: 400px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#browser #webview-error:empty {
  display: none;
}
#browser #browserinfo {
  color: #222;
  background: #EEE;
  font-size: 0;
}
#browser #browserinfo:first-child {
  margin-left: 10px;
}
#browser #browserinfo #nav_action {
  font-weight: bold;
}
#browser #browserinfo #nav_action[data-action="stop"]:before {
  content: '✖';
}
#browser #browserinfo #nav_action[data-action="reload"]:before {
  content: '⟳';
}
#browser #browserinfo .nav {
  background: none;
  text-align: center;
  width: 40px;
  outline: none;
}
#browser #browserinfo .nav.disabled {
  color: #AAA;
}
#browser #browserinfo .nav:not(.disabled):hover {
  color: #F2AE72;
}
#browser #browserinfo button,
#browser #browserinfo input {
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  margin: 5px 0;
  transition: color 200ms;
  vertical-align: top;
  border: none;
}
#browser #browserinfo input {
  background: #FFF;
  font-size: 18px;
  min-width: 400px;
  font-weight: bold;
}
#browser #browserinfo input:focus {
  color: inherit;
}
#browser #browserinfo input.error {
  color: #D96459;
}
#browser #browserinfo input.internal {
  color: #AAA;
}
#pre-results svg {
  width: 100%;
  padding: 20px;
}
#pre-results svg .linepath {
  fill: none;
  stroke: #FFF;
  stroke-width: 2px;
}
#pre-results svg .tick line {
  stroke: rgba(255, 255, 255, 0.5);
  vector-effect: non-scaling-stroke;
}
#pre-results svg .tick text {
  fill: #FFF;
}
#pre-results .title {
  display: flex;
  margin: 5px;
  font-size: 28px;
  padding: 5px;
}
#pre-results #kms-response-title,
#pre-results #kms-response-wrapper {
  color: #FFF;
  align-content: stretch;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
}
#pre-results #kms-response-title > *,
#pre-results #kms-response-wrapper > * {
  width: 66%;
  background: #685C79;
  margin: 5px;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
#pre-results #kms-response-title .general,
#pre-results #kms-response-wrapper .general {
  width: 33%;
}
#pre-results #kms-response-title .general.col-wrapper,
#pre-results #kms-response-wrapper .general.col-wrapper {
  margin: 0;
  background: none;
}
#pre-results #kms-response-title .general.col-wrapper > *,
#pre-results #kms-response-wrapper .general.col-wrapper > * {
  background: #685C79;
}
#pre-results #bandwidth-title {
  color: #FFF;
  background: #DA727E;
}
#pre-results #bandwidth-info {
  display: flex;
  flex-flow: row nowrap;
  color: #FFF;
  justify-content: space-around;
}
#pre-results #bandwidth-info #bandwidth-bar {
  margin: 5px;
  background: #DA727E;
  width: calc(73.33333333%);
}
#pre-results #bandwidth-info #bandwidth-bar .bar {
  width: calc(1.41666667%);
  fill: #FFF;
  transition: all 200ms;
}
#pre-results #bandwidth-info #bandwidth-stat > * {
  background: #DA727E;
}
#pre-results #bandwidth-info #bandwidth-stat .current {
  border-bottom: solid 1px #FFF;
}
#pre-results .col-wrapper {
  flex-grow: 1;
  flex-flow: column nowrap;
  align-content: stretch;
  font-size: 28px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
#pre-results .col-wrapper > * {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 5px;
}
#pre-results .col-wrapper b {
  display: block;
  font-size: 14px;
}
#pre-results #kms-requests-title {
  background: #AC6C82;
  color: #FFF;
}
#pre-results #kms-requests {
  height: 100px;
}
#pre-results #kms-requests,
#pre-results #kms-requests-charts {
  align-content: stretch;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  color: #FFF;
}
#pre-results #kms-requests > *,
#pre-results #kms-requests-charts > * {
  width: 100%;
  margin: 5px;
  background: #AC6C82;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
#pre-results #kms-requests b,
#pre-results #kms-requests-charts b {
  display: block;
  font-size: 14px;
}
#results {
  background: #FFF;
}
#results .content-body {
  padding-left: 7px;
}
#results #jsonresult button {
  padding: 10px 20px;
}
#results #jsonresult button:focus {
  outline: none;
}
#results #jsonresult pre {
  position: fixed;
  top: 110%;
}
#results #graphs {
  width: 100%;
}
#results.active table th {
  position: sticky;
  z-index: 100;
}
#results table {
  width: 100%;
  background: #FFF;
  table-layout: fixed;
  margin: -2px;
}
#results table tbody tr:nth-child(even) {
  color: #222;
  background: #EEE;
}
#results table tbody tr:hover {
  background: rgba(218, 114, 126, 0.5);
}
#results table tbody tr:hover a {
  color: #FFF;
  text-decoration: none;
}
#results table th {
  background: #DA727E;
  color: #FFF;
  top: 0;
  padding: 10px 5px;
  font-weight: 400;
}
#results table th:nth-child(1),
#results table th:nth-child(2) {
  width: 75px;
}
#results table th:nth-child(4),
#results table th:nth-child(5),
#results table th:nth-child(6),
#results table th:nth-child(7),
#results table th:nth-child(8),
#results table th:nth-child(9) {
  width: 75px;
}
#results table td {
  padding: 10px;
}
#results table td a {
  color: #222;
}
#results table td .domain {
  display: block;
  opacity: .5;
  font-size: 12px;
  margin-bottom: 6px;
}
#results table td:nth-child(1),
#results table td:nth-child(2) {
  text-align: center;
  width: 75px;
}
#results table td:nth-child(3) {
  word-wrap: break-word;
}
#results table td:nth-child(4),
#results table td:nth-child(5),
#results table td:nth-child(6),
#results table td:nth-child(7),
#results table td:nth-child(8),
#results table td:nth-child(9) {
  width: 75px;
  text-align: right;
}
#infographs #infog1 {
  margin: auto;
}
#infographs #infog1-path {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  min-height: 100px;
}
#infographs #infog1-visual {
  position: relative;
  width: 750px;
  margin: auto;
}
#infographs #infog1-visual path {
  stroke: #fff;
}
#infographs #infog1-tip {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}
#infographs #infog1-percentage {
  font-size: 48px;
}
#overlay {
  display: none;
}
#overlay.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  background-image: url('../media/logo.png');
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 10000;
}
#overlay.active span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  line-height: 20px;
  margin: auto;
  width: 200px;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  text-shadow: 2px 2px #555;
}
#chromebtns {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  -webkit-user-select: none;
  font-size: 0;
}
#chromebtns .chrome-btn {
  color: #DDD;
  background: #222;
  border: none;
  width: 60px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.07);
  margin: 0;
  text-align: center;
}
#chromebtns .chrome-btn:focus {
  outline: none;
}
#chromebtns .chrome-btn:hover {
  background: #F2AE72;
}
@media screen and (max-width: 1279px) {
  #pre-results .large svg text {
    font-size: 5px;
  }
  #pre-results .medium svg text {
    font-size: 5px;
  }
  #pre-results .small svg text {
    font-size: 10px;
  }
}
@media screen and (min-width: 1280px) {
  #pre-results .large svg text {
    font-size: 4px;
  }
  #pre-results .medium svg text {
    font-size: 4px;
  }
  #pre-results .small svg text {
    font-size: 8px;
  }
}
@media screen and (min-width: 1700px) {
  #pre-results .large svg text {
    font-size: 3px;
  }
  #pre-results .medium svg text {
    font-size: 3px;
  }
  #pre-results .small svg text {
    font-size: 6px;
  }
}
