@import url('https://fonts.googleapis.com/css?family=Cantarell:400i|Ubuntu');
html,body{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    #pane>.n2>.inner();
}
*{
    box-sizing: border-box;
    &::-webkit-scrollbar {
        width: 7px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: @color_primary; 
    }

    &::-webkit-scrollbar-track {
        background: none; 
    }
}
.postresult{
    display: none;
}
select,
input{
    -webkit-app-region: no-drag;
    font-family: 'Cantarell', sans-serif;
    border: none;
    background: none;
    border-bottom: solid 2px #CCC;
    color: inherit;
    &:disabled{
        color: inherit;
    }
    &:focus{
        outline: none;
        color: inherit;
        border-bottom-color: @color_primary;
    }
}
button{
    -webkit-app-region: no-drag;
    cursor: pointer;
    &.n1{
        #btn>.n1>.inner();
        #btn>.n1>.outer();
    }
    &.n2{
        #btn>.n2>.inner();
        #btn>.n2>.outer();
    }
}

#mainbar{
    #pane>.n1>.inner();
    box-shadow: @boxshadow-right;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    width: 100px;
    z-index: 1000;
    font-size: 14px;
    button{
        -webkit-user-select: none;
        width: 100%;
        min-height: 75px;
        padding: 10px 0;
        background: none;
        border: none;
        color:#FFF;
        font-weight: bold;        
        font-family: Ubuntu, sans-serif;
        font-size: 14px;
        
        &:focus{
            outline: none;
        }
    }
    #stats{
        position: absolute;
        bottom: 0;
        width: 100%;
        .stat{            
            text-align: center;
            padding: 10px 0;
            
            .title{
                font-weight: bold;
            }
            .value{
                font-size: 32px;
            }
        }
    }
}
#config{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -50%;
    padding: 10px 20px;
    z-index: 900;
    transition: all 1s;
    width: ~"calc(50% - 100px)";
    #pane>.n2>.inner();
    #pane>.n2>.outer();
    &>.options{   
        width: 100%;
        display: table;
    }
    &.active{
        left: 90px;
    }
    label{
        display: table-row;
        height: 50px;
        width: 100%;
        line-height: 50px;
        &>*{
            display: table-cell;
            font-weight: bold;
        }
        input, select{            
            float: right;
            font-weight: bold;
        }
        
        select > option{
            font-weight: bold;
        }
        input[type="number"]{
            text-align: center;
            width: 50px;
        }
        input[type="checkbox"]{
            position: relative;
            &:before{
                content: ' ';
                position: absolute;
                height: 15px;
                line-height: 5px;
                font-size: 24px;
                width: 15px;
                right: 0px;
                display: block;
                background: #FFF;
                border: solid 2px #DDD;
                text-align: center;
            }
            &:checked:before{
                border-color: @color_primary;
                content: '✔';
            }
        }
    }
    button.minimize{
        background: none;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        overflow: hidden;
        padding: 0;
        color: #AAA;
        &:focus {
            outline: none;
        }
        span{
            display: block;
            margin: auto;
            text-align: center;
            font-size: 50px;    
        }
        &:hover{
            color: @color_primary;
        }
    }
}
#viewport{
    position: fixed;
    top: 0;
    bottom: 0;
    left:100px;
    right: 0;
    .fullpane{
        position: absolute;
        top: 0;
        bottom: 0;
        left: -110%;
        transition: all 1s;
        width: 100%;
        height: 100%;
        box-shadow: @boxshadow-right;
        
        &.active{
            left: 0;
        }
    }
    .content-head{
        -webkit-app-region: drag;
        position: absolute;
        top: 0px;
        height: 50px;
        left: 0;
        right: 165px;
    }
    .content-body{
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
    }
}
#browser{
    #webview{
        height: 100%;
        width: 100%;
    }
    #browserinfo{
        #pane>.n2>.inner();
        transition: all 1s;        
        button, input{
            height: 40px;
            padding: 0 10px;
            line-height: 40px;
            margin: 5px;
            transition: all 1s;
            vertical-align: top;
        }
        input{
            font-size: 18px;
            min-width: 400px;
            font-weight: bold;
            &:focus{
                color: inherit;
            }
            &.error{
                color: @color_negative;
            }
        }
    }
}

#results{
    .content-body{        
        padding-left: 7px;
    }
    background: #FFF;
    #graphs{
        width: 100%; 
        min-height: 450px;
    }
    &.active{
        table th{
        }
    }
    table{
        width: 100%;
        tr{
            &:nth-child(even) {
                #pane>.n2>.inner();
            }
            &:hover{
                background: @color_secondary;
            }
        }
        th{
            #pane>.n2>.inner();
            top: 0;
            padding: 10px;
        }
        td{
            padding: 5px;
            .domain{
                display: block;
                opacity: .5;
                font-size: 12px;
                margin-bottom: 6px;
            }
            &:nth-child(1),
            &:nth-child(2) {
                text-align: center;
            }            
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9)
            {
                text-align: right;
            }
        }
    }
}
#overlay{
    display: none;
}
#overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.4);
    background-image: url('~/../../media/logo.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 10000;
    span{
        display: block;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 20px;
        line-height: 20px;
        margin: auto;
        width:200px;
        text-align:  center;
        font-weight: bold;
        color: #FFF;
        text-shadow: 2px 2px #555;
    }
}

@color_primary: #31ACED;
@color_secondary: #EFD951;
@color_negative: #FF2828;
@boxshadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.07);
@boxshadow-right: 2px 4px 2px 1px rgba(0,0,0,0.4);



#btn{
    .n1{
        .inner(){
            color: #FFF;
            background: @color_primary;
        }
        .outer(){
            border: solid 1px @color_primary;
            box-shadow: @boxshadow;
        }
    }
    .n2{
        .inner(){
            color: #FFF;
            background: @color_secondary;            
        }
        .outer(){
            border: solid 1px @color_secondary;
            box-shadow: @boxshadow;
        }
    }
    .pos{
        .inner(){
            color: #777;
            background: #DDD;            
        }
        .outer(){
            border: solid 1px #777;
            box-shadow: @boxshadow;
        }
    }    
    .neg{
        .inner(){
            color: #777;
            background: #DDD;            
        }
        .outer(){
            border: solid 1px #777;
            box-shadow: @boxshadow;
        }
    }
}


#pane{
    .n1{
        .inner(){
            color: #DDD;
            background: #222;        
        }
        .outer(){
            border: solid 1px #222;
            box-shadow: @boxshadow;
        }
    }
    .n2{
        .inner(){
            color: #222;
            background: #EEE;            
        }
        .outer(){
            border: solid 1px #CCC;
            box-shadow: @boxshadow;
        }
    }
}
#chromebtns{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    -webkit-user-select: none;
    font-size: 0;
    .chrome-btn {
        #pane>.n1>.inner();
        border: none;
        width: 60px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        box-shadow: @boxshadow;
        margin: 0;
        text-align: center;
        &:focus{
            outline: none;
        }
        &:hover{
            background: @color_primary;
        }
    }
}