@import url('https://fonts.googleapis.com/css?family=Cantarell:400i|Ubuntu');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #222;
  background: #EEE;
}
* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-thumb {
  background: #31ACED;
}
*::-webkit-scrollbar-track {
  background: none;
}
.postresult {
  display: none;
}
select,
input {
  -webkit-app-region: no-drag;
  font-family: 'Cantarell', sans-serif;
  border: none;
  background: none;
  border-bottom: solid 2px #CCC;
  color: inherit;
}
select:disabled,
input:disabled {
  color: inherit;
}
select:focus,
input:focus {
  outline: none;
  color: inherit;
  border-bottom-color: #31ACED;
}
button {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
button.n1 {
  color: #FFF;
  background: #31ACED;
  border: solid 1px #31ACED;
  box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.07);
}
button.n2 {
  color: #FFF;
  background: #EFD951;
  border: solid 1px #EFD951;
  box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.07);
}
#mainbar {
  color: #DDD;
  background: #222;
  box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  z-index: 1000;
  font-size: 14px;
}
#mainbar button {
  -webkit-user-select: none;
  width: 100%;
  min-height: 75px;
  padding: 10px 0;
  background: none;
  border: none;
  color: #FFF;
  font-weight: bold;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
}
#mainbar button:focus {
  outline: none;
}
#mainbar #stats {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#mainbar #stats .stat {
  text-align: center;
  padding: 10px 0;
}
#mainbar #stats .stat .title {
  font-weight: bold;
}
#mainbar #stats .stat .value {
  font-size: 32px;
}
#config {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -50%;
  padding: 10px 20px;
  z-index: 900;
  transition: all 1s;
  width: calc(50% - 100px);
  color: #222;
  background: #EEE;
  border: solid 1px #CCC;
  box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.07);
}
#config > .options {
  width: 100%;
  display: table;
}
#config.active {
  left: 90px;
}
#config label {
  display: table-row;
  height: 50px;
  width: 100%;
  line-height: 50px;
}
#config label > * {
  display: table-cell;
  font-weight: bold;
}
#config label input,
#config label select {
  float: right;
  font-weight: bold;
}
#config label select > option {
  font-weight: bold;
}
#config label input[type="number"] {
  text-align: center;
  width: 50px;
}
#config label input[type="checkbox"] {
  position: relative;
}
#config label input[type="checkbox"]:before {
  content: ' ';
  position: absolute;
  height: 15px;
  line-height: 5px;
  font-size: 24px;
  width: 15px;
  right: 0px;
  display: block;
  background: #FFF;
  border: solid 2px #DDD;
  text-align: center;
}
#config label input[type="checkbox"]:checked:before {
  border-color: #31ACED;
  content: '✔';
}
#config button.minimize {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  padding: 0;
  color: #AAA;
}
#config button.minimize:focus {
  outline: none;
}
#config button.minimize span {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 50px;
}
#config button.minimize:hover {
  color: #31ACED;
}
#viewport {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100px;
  right: 0;
}
#viewport .fullpane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -110%;
  transition: all 1s;
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.4);
}
#viewport .fullpane.active {
  left: 0;
}
#viewport .content-head {
  -webkit-app-region: drag;
  position: absolute;
  top: 0px;
  height: 50px;
  left: 0;
  right: 190px;
}
#viewport .content-body {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
#browser #webview {
  height: 100%;
  width: 100%;
}
#browser #browserinfo {
  color: #222;
  background: #EEE;
  font-size: 0;
  transition: all 1s;
}
#browser #browserinfo > *:first-child {
  margin-left: 10px;
}
#browser #browserinfo .nav {
  background: none;
  text-align: center;
  width: 40px;
  outline: none;
}
#browser #browserinfo .nav.disabled {
  color: #AAA;
}
#browser #browserinfo .nav:not(.disabled):hover {
  color: #31ACED;
}
#browser #browserinfo button,
#browser #browserinfo input {
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  margin: 5px 0;
  transition: all 1s;
  vertical-align: top;
  border: none;
}
#browser #browserinfo input {
  background: #FFF;
  font-size: 18px;
  min-width: 400px;
  font-weight: bold;
}
#browser #browserinfo input:focus {
  color: inherit;
}
#browser #browserinfo input.error {
  color: #FF2828;
}
#results {
  background: #FFF;
}
#results .content-body {
  padding-left: 7px;
}
#results #graphs {
  width: 100%;
  min-height: 450px;
}
#results table {
  width: 100%;
}
#results table tr:nth-child(even) {
  color: #222;
  background: #EEE;
}
#results table tr:hover {
  background: #EFD951;
}
#results table th {
  color: #222;
  background: #EEE;
  top: 0;
  padding: 10px;
  position: sticky;
}
#results table td {
  padding: 5px;
}
#results table td .domain {
  display: block;
  opacity: .5;
  font-size: 12px;
  margin-bottom: 6px;
}
#results table td:nth-child(1),
#results table td:nth-child(2) {
  text-align: center;
}
#results table td:nth-child(4),
#results table td:nth-child(5),
#results table td:nth-child(6),
#results table td:nth-child(7),
#results table td:nth-child(8),
#results table td:nth-child(9) {
  text-align: right;
}
#overlay {
  display: none;
}
#overlay.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  background-image: url('../media/logo.png');
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 10000;
}
#overlay.active span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  line-height: 20px;
  margin: auto;
  width: 200px;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  text-shadow: 2px 2px #555;
}
#chromebtns {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  -webkit-user-select: none;
  font-size: 0;
}
#chromebtns .chrome-btn {
  color: #DDD;
  background: #222;
  border: none;
  width: 60px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.07);
  margin: 0;
  text-align: center;
}
#chromebtns .chrome-btn:focus {
  outline: none;
}
#chromebtns .chrome-btn:hover {
  background: #31ACED;
}
